@media (max-width: 750px) {
    .main-output-wrapper {
        flex-direction: column;    
    }
    .output-container{
        height: 50%;
        width: 80%;
        margin: 10px;
        padding: 10px;

    }
    .form-container{
        height: 50%;
        width: 80%;
        margin: 10px;
        padding: 10px;


    }

}

@media (min-width: 768px) {
    .output-container{
        width: 40%;
        height: 60%;
        padding: 40px;

    }
    .form-container{
        width: 40%;
        height: 60%;
        padding: 40px;

    }
  }
.main-container-master{
    background-color: rgb(68, 68, 68);
    height: 100vh;
    width: 100%;
    
    
}
.main-output-wrapper{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.form-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}
.form-container input{
    height: 30px;
    width: 80%;
    padding: 3px;
    margin-bottom: 10px;
}
.output-container {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    color: rgb(58, 58, 58);
}

.heading{
    color: rgb(5, 5, 5);
    font-size: 13px;
    opacity: 80%;
}


input{
    border-radius: 8px;
    border: solid gray 1px
}
button{
    margin: 3px;
    
}
.examples li {
    font-size: 11px;
    padding: 2px;
    font-family: sans-serif;
    opacity: 80%;
}
.examples h3 {
    opacity: 80%;
}