.main-container-master{
    background-color: rgb(68, 68, 68);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.form-container{
    background-color: white;
    height: 400px;
    width: auto;
    border-radius: 10px;
    padding-left: 50px;
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}
.form-container input{
    height: 30px;
    width: 80%;
    padding: 3px;
    margin-bottom: 20%;
}
.output-container {
    background-color: white;
    height: 345px;
    width: 400px;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    align-items: center;
}
.logout{
    margin-top: 30px;
    margin-right: 50px;
}
.heading{
    color: white;
    font-size: 10px;
}
.heading1{
    color: white;
    font-size: 10px;
    padding-top: 3px;
}

input{
    border-radius: 8px;
    border: solid gray 1px
}
