@media (max-width: 480px) {
    .main-container-master {
        flex-direction: column;    
    }

    
    
}
.main-container-master{
    background-color: rgb(68, 68, 68);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.form-container{
    background-color: white;
    height: 50%;
    width: auto;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}
.form-container input{
    height: 30px;
    width: 80%;
    padding: 3px;
    margin-bottom: 20%;
}
.output-container {
    background-color: white;
    height: 50%;
    width: auto;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    align-items: center;
}
.logout{
    margin: 30px;  
    
}
.heading{
    color: rgb(7, 7, 7);
    font-size: 13px;
}
.heading1{
    color: rgb(241, 240, 240);
    font-size: 10px;
    padding-top: 16px;
}

input{
    border-radius: 8px;
    border: solid gray 1px
}
button{
    margin: 3px;
    
}