@media (max-width: 480px) {
    .student-container{
        height: 60%;
        width: 80%;
        
    }
    
}
.student-page{
    background-color: rgb(65, 65, 65);
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student-container{
    background-color: rgb(255, 254, 254);
    height: 70%;
    width: 75%;
    border-radius: 10px;
    text-align: center;
    
}
span{
    font-size: large;
    font-weight: bold;
}
.logout-css{
    
    margin-top: 20px;

}
