.main-container{
    background-color: rgb(29, 29, 29);
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.signup-container{
    height: 400px;
    width: 300px;
    padding: 15px;
    margin-top: 8%;
    background-color: rgb(255, 255, 255); 
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    padding-left: 6%;
    border-radius: 20px;
}
.signup-container button{
    background-color: rgb(34, 34, 34);
    margin-top: 30px;
    margin-left: 125px;
    margin-bottom: 30px;
}
.input-form {
    padding: 3px;
    margin: 6px
}
.input-form input{
    height: 30px;
    width: 75%;
    border-radius: 4px;
    border: solid #cfcfcf 1px;
}
#role{
    width: 77%;
    height: 30px;
    border: solid  #cfcfcf 1px;
    border-radius: 4px;

}
.error{
    color: rgb(163, 11, 11);
}
